= simple_form_for([@institution, @grade, @meeting]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :date
    - @meeting.attendances.each do |attendance|
      = f.simple_fields_for :attendances, attendance do |attendance_fields|
        = attendance_fields.hidden_field :person_id
        = attendance_fields.hidden_field :id
        = attendance.person.name
        = attendance_fields.input :present

  .form-actions
    = f.button :submit
