= simple_form_for([@institution, @grade, @meeting]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :date
    = f.simple_fields_for :attendances do |attendances_fields|
      = attendances_fields.input :person_id
      = attendances_fields.input :present

  .form-actions
    = f.button :submit
