= simple_form_for(@person) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :email
    = f.input :phone
    = f.input :gender, collection: [[t("male", default: "Male"), "M"], [t("female", default: "Female"), "F"]], include_blank: true
    .date_select
      = f.date_select :date_of_birth, order: [:day, :month, :year], prompt: { day: t("select_day", default: "Select day"), month: t("select_month", default: "Select month"), year: t("select_year", default: "Select year") }

  .form-actions
    = f.button :submit
