%p#notice= notice

.panel
  %h4= @person.name
  %p= @person.email
  %p= time_ago_in_words(@person.date_of_birth) if @person.date_of_birth
  %p 
    = @person.parents.map { |parent| parent.name }
    = link_to t(".relate_parent", default: "Relate parent"), parent_search_institution_person_path(@institution, @person)

= link_to 'Edit', edit_institution_person_path(@institution, @person)
\|
= link_to 'Back', institution_people_path(@institution)