= simple_form_for([@institution, @person, @enrollment], remote: true) do |f|
  = f.error_notification

  .form-inputs
    = f.select :role, ["Evangelizando", "Evangelizador", "Monitor"]
    = f.select :grade_id, @institution.grades.pluck(:name, :id)

  .form-actions
    = f.button :submit
